* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.container a {
    text-decoration: none;
    color: #000;    
}

.container a:hover {
    color:  #FF7A00;
}

.menu {
    line-height: 50px;
}

.logo {
    float: left;
    padding: 14px 0;
}

.logo img {
    width: 100px;
    display: block;
}

.nav {
    float: right;
    margin-right: 10px;
}

.nav ul {
    list-style-type: none;
    padding: 10px 0;
}

.nav ul li {
    display: inline-block;
    padding: 0 8px;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.banner img{
    width: 100%;
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.text {
    margin: 150px 0 0 0;
}

.text h2 {
    margin-bottom: 20px;
}

.img img{
    width: 100%;
}

.videos iframe {
    width: 100%;
    height: 500px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    line-height: 80px;
}

@media screen and (max-width:480px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .menu {
        line-height: 1px;
    }

    .logo {
        float: left;
        padding: 8px 0;
    }
    
    .logo img {
        width: 40px;
        display: block;
    }
    
    .nav {
        float: left;
    }
    
    .nav ul {
        list-style-type: none;
        padding: 12px 0;
    }
    
    .nav ul li {
        display: inline-block;
        padding: 0 4px;
    }
    
    .nav ul li a {
        text-decoration: none;
        color: #000;
        font-size: 8px;
    }
    .news {
        padding: 0 20px;
        margin-bottom: 10px;
    }
    .text {
        margin: 50px 0 0 0;
        font-size: 11px;
    }

    .videos iframe {
        width: 100%;
        height: 200px;
    }

    .footer {
        line-height: 50px;
    }

}
